@import '/src/assets/theme/font.scss';
@import '/src/assets/theme/color.scss';

.etransfer-ui-history-web-filter-title {
  font-size: 24px;
  font-weight: $font-family-medium-weight;
  height: 42px;
  line-height: 42px;
}

.etransfer-ui-history-web-filter-search-wrapper {
  padding: 16px 0;

  .etransfer-ant-select-selector {
    border-radius: 6px !important;
  }
}

.etransfer-ui-history-web-filter-select-type,
.etransfer-ui-history-web-filter-select-status {
  width: 156px;
  border-radius: 6px;
}

.etransfer-ui-history-web-filter-select-status {
  margin: 0 12px;
}

.etransfer-ui-history-web-filter-range-picker {
  border-radius: 6px;
  margin-right: 12px;
}

.etransfer-ui-history-web-filter-reset-button {
  width: 92px;
  margin-right: 12px;
  border: none;
  background: none;
  color: $normal;
  border-radius: 6px;
  box-shadow: none;
  &:hover {
    color: $normal;
    background: $hover-bg;
  }
  &:active {
    color: $normal;
    background: $click-bg;
  }
}

.etransfer-ui-history-web-filter-reset-icon {
  color: $normal;
  vertical-align: middle;
}

.etransfer-ui-history-web-filter-reset-word {
  font-size: 14px;
  margin-left: 8px;
}
