@import '../../assets/theme/breakpoint.less';

.etransfer-ui-content-layout {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}

.etransfer-ui-content-layout-body {
  position: relative;
  flex-direction: row;
  // height: 100%;
  flex: 1;
  background-color: var(--etransfer-ui-page-bg);

  .etransfer-web-content {
    width: 100%;
    max-width: calc(var(--etransfer-ui-max-content-width) - 260px);
    height: 100%;
    overflow-x: overlay;

    .etransfer-ui-deposit-for-web {
      padding-top: 0;
      padding-left: 40px;
      padding-right: 40px;
      max-width: 1180px;
      margin: auto;
    }

    .etransfer-ui-deposit-for-mobile {
      @media @mediaPad {
        width: var(--etransfer-ui-content-width);
        margin: auto;
        margin-bottom: var(--etransfer-ui-mobile-content-padding-bottom);
        padding-top: 16px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
      }
      @media @mediaMobile {
        margin-bottom: var(--etransfer-ui-mobile-content-padding-bottom);
        padding: 0 16px;
      }
    }

    .etransfer-ui-withdraw {
      .etransfer-ui-withdraw-body {
        @media @mediaPad {
          width: var(--etransfer-ui-content-width);
          margin: auto;
          padding-left: 0;
          padding-right: 0;
          padding-bottom: 0;
        }

        @media @mediaMobile {
          .etransfer-ui-mobile-bottom-powered-by {
            margin-bottom: 2px;
          }
        }

        @media @mediaWeb {
          padding-left: 40px;
          padding-right: 40px;
          max-width: 1180px;
          margin: auto;
        }
      }
      .etransfer-ui-withdraw-processing-tip {
        @media @mediaWeb {
          padding-left: 40px;
          padding-right: 40px;
          max-width: 1180px;
          margin: auto;
        }
      }
      @media @mediaPad {
        height: 100%;
      }
    }

    .etransfer-ui-history-web {
      padding-left: 0;
      padding-right: 0;
    }

    // @media @mediaPad {
    //   width: var(--etransfer-ui-content-width);
    //   margin: auto;
    //   margin-bottom: var(--etransfer-ui-mobile-content-padding-bottom);
    // }
    @media @mediaWeb {
      padding: 40px 80px 0;
      margin-bottom: var(--etransfer-ui-web-content-padding-bottom);
    }

    .etransfer-ui-mobile-bottom-powered-by {
      margin: 16px auto 12px;
    }
  }
}
