.etransfer-ui-reCaptcha-modal-wrapper {
  .etransfer-ui-reCaptcha-modal-container {
    width: fit-content !important;
    min-width: 320px;
    top: 50%;
    transform: translateY(-50%);

    .ant-modal-content {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      .ant-modal-confirm-body-wrapper {
        .ant-modal-confirm-body {
          padding: 24px;
          margin-bottom: 24px;
          .anticon {
            display: none;
          }
        }
        .ant-modal-confirm-btns {
          display: none;
        }
      }

      .ant-modal-close {
        .ant-modal-close-x {
          width: 20px;
          height: 20px;
          margin: 16px;
        }
      }
    }
  }
}
