@import '../../../assets/theme/breakpoint.less';
@import '../../../assets/theme/constants.less';

.etransfer-ui-deposit-detail-for-mobile {
  .deposit-address {
    padding: 16px 12px;
    border-radius: 6px;
    border: 1px solid var(--etransfer-ui-dividers);
  }
}
