@import '../../assets/theme/breakpoint.less';

.etransfer-ui-withdraw {
  height: 100%;

  .etransfer-ui-withdraw-body {
    display: flex;
    flex-direction: column;
    @media @mediaPad {
      padding: 8px 16px 40px;
    }
    @media @mediaMobile {
      padding: 0 16px 1px;
    }
    @media @mediaWeb {
      padding: 0 32px 40px;
    }
  }

  .etransfer-ui-withdraw-processing-tip {
    @media @mediaWeb {
      padding: 0 32px;
    }
  }
}
