@import '../../assets/theme/breakpoint.less';

.etransfer-ui-withdraw {
  @media @mediaPad {
    padding: 0 16px 40px;
  }
  @media @mediaMobile {
    padding: 0 16px 183px;
  }
  @media @mediaWeb {
    padding: 0 32px 40px;
  }
}
